.hero {
    display: flex;
    justify-content: center;
    background-color: #CCF381;
    width: 100%;
    height: 100vh;
}

.hero p {
    color: #4831d4;
    font-size: 20px;
}

.hero h1 {
    color: #3d155f;
    font-size: 30px;
    letter-spacing: 7px;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}