@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: row;
}

.myInfo {
  display: flex;
  margin-left: 300px;
  flex-direction: column;
  width: 100%;
}