.about {
    display: flex;
    background-color: #F9F9F9;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0 20px 0 20px;
}

.aboutText h1 {
    font-size: 3em;
    color: #4831d4;
}

.aboutText p {
    color: #3d155f;
}

.aboutText {
    padding: 20px 80px 20px 80px;
}

.aboutText p{
    text-align: left;
}

.aboutImages {
    background-color: white;
    margin: 0 50px 0 50px;
    padding: 40px 80px;
    display: flex;
    gap: 30px;
}

.image1 {
    height: 400px;
    border-radius: 5px;
}

.image2 {
    height: 400px;
    border-radius: 5px;
}