.about {
    display: flex;
    background-color: #F9F9F9;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 0 20px;
}

.aboutText h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: #4831d4;
}

.aboutText p {
    color: #3d155f;
}

.aboutText {
    padding: 20px 80px 20px 80px;
}

.aboutText p{
    text-align: left;
}