.sideBar {
  position: fixed;
  display: inline-flex;
  background-color: #121212;
  height: 100vh;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
}

.sideBar p {
  color: rgba(255, 255, 255, 0.8);
}

.sideBar_item {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sideBar_item a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sideBar_link {
  padding-right: 3px;
  padding-left: 5px;
  transition: color 0.3s ease;
}

.sideBar_item:hover {
  background-color: #1e1e1e; /* Color de fondo al hacer hover */
}

.sideBar_link:hover {
  color: #ffffff; /* Cambio de color del texto al hacer hover */
}

.myPhoto {
  max-width: 100%;
  height: 300px;
}
